html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}

li, a {
    list-style-type: none;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
  }

  a {
      color: inherit;
  }
  
  .top-nav {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
  }
  
  .left-nav-container {
    /* border: 1px solid; */
    display: flex;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .right-nav-container {
    /* border: 1px solid; */
    display: flex;
    width: auto;
    margin-top: 10px;
    margin-right: 10px;
  }

  #sign-in {
      background: #4683ea;
      color: #fff;
      padding-left: 12px;
      padding-right: 12px;
      border-radius: 3px;
  }

  .main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 140px;
  }

  #search-bar-container {
      margin-top: 25px;
      margin-bottom: 25px;
      background: #fff;
      border: 1px solid #dfe1e5;
      outline: none;
      height: 44px;
      width: 482px;
      border-radius: 24px;
      color: #9AA0A6;
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  path {
      color: #9AA0A6;
  }

  svg {
      height: 20px;
      width: 20px;
      color: #9AA0A6;
      padding: 10px;
  }

  #search-icon {
      color: #9AA0A6;
      line-height: 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 5px;
  }

  #search-box-type-area {
      height: 34px !important;
      line-height: 34px;
      outline: none;
      font: 16px arial, sans-serif;
      border: none;
      width: 400px;
  }

  #main-wrapper {
      height: 100vh;
      flex-direction: column;
      justify-content: space-between;
  }

  footer {
      align-items: center;
      position: fixed;
      bottom: 0;
      width: 100%;
      padding: 8px;
      background-color: #f2f2f2;
      color: rgba(0, 0, 0, 0.54);
      font-family: Arial, Helvetica, sans-serif;
  }

  .footer-nav {
      display: flex;
      justify-content: space-between;
  }

  .left-footer-container {
      display: flex;
      padding-top: 10px;
  }

  .right-footer-container {
      display: flex;
      padding-top: 10px;
      padding-right: 20px;
  }

  .footer-first-row {
      font-size: 15px;
      margin-left: 15px;
      padding: 10px 0px 15px 0px;
      border-bottom: 1px solid #e4e4e4;
  }

  button {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      margin: 11px 4px;
      padding: 0 16px;
      line-height: 27px;
      height: 36px;
      min-width: 54px;
      text-align: center;
      border-radius: 4px;
      background-color: #f2f2f2;
      color: #5F6368;
      border: 1px solid #f2f2f2;
  }

  button:hover {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      border: 1px solid #c6c6c6;
      color: #222;
  }

  a:hover {
      text-decoration: underline;
  }